@import "_null.scss";

$db: #40407a;
$r: #b33939;
$w: #f7f1e3;

body {
	background-color: black;
	background: linear-gradient(#000 0%, $db 40%, $db 60%, #000 100%);
	width: 70vw;
	height: 70vh;
	user-select: none;
	font-size: 18px;
	overflow: hidden;
}
.waves {
}
.wave {
	background-image: url("../img/wave.png");
	position: fixed;
	width: 10000px;
	height: 218px;
	top: 400px;
	opacity: 0.07;
	background-repeat: repeat-x;
	transform: scale(2, 1);

	&_1 {
		animation: wave 11s ease-in-out -3s infinite alternate;
	}

	&_2 {          
		animation: long-wave 23s ease-in-out 0s infinite alternate;
		transform: scale(3, 1);
	}

	&_3 {
		animation: wave 36s linear -5s infinite alternate;
	}

	&_rev {
		transform: scale(3, -1);
		top: 618px;	  
	}

	&_4 {
		animation: long-wave 16s ease-in-out -7s infinite alternate;
	}

	&_5 {
		animation: wave 27s ease-in-out -2s infinite alternate;
		transform: scale(2, -1);
	}

	&_6 {
		animation: long-wave 41s ease-in-out -11s infinite alternate;
	}
}
@keyframes wave {
	0% {
		left: 0;
	}
	100% {
		left: -3876px;
	}
}
@keyframes long-wave {
	0% {
		left: 0;
	}
	100% {
		left: -5814px;
	}
}

.arrow{
	z-index: 21;
	position: absolute;
	overflow: hidden;

	&_left{
		width: 0;

	}
	&_right{

	}
}
.horizontal {
	z-index: 20;
	position: fixed;
	display: flex;
	align-items: start;
	transition: left 0.2s ease-in-out;

	&__button {
		
		&_1 {
		}

		&_2 {
		}

		&_3 {
		}

		&_4 {
		}

		&_5 {
		}

		&_6 {
		}

		&_7 {
		}

		&_8 {
		}
	}

	&__selectable {

		&>.horizontal__text {
			transform: scale(0);
		}
	}

	&__icon {
	}

	&__text {
		text-transform: uppercase;
		font-size: 24px;
		margin-top: 10px;
		transition: transform 0.2s ease-in-out;
	}
}
.allvertical {
	position: relative;
	transition: left 0.2s ease-in-out;
}
.vertical {
	z-index: 10;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-left: 50px;
	width: 0;
	opacity: 0;
	overflow: hidden;
	transition: opacity 1s ease-out, top 0.2s ease;

	&_1 {left: 0px;	width: auto; opacity: 1;}
	&_2 {left: 200px;}
	&_3 {left: 400px;}
	&_4 {left: 600px;}
	&_5 {left: 800px;}
	&_6 {left: 1000px;}
	&_7 {left: 1200px;}
	&_8 {left: 1400px;}

	&__button {
		min-width: 320px;
		display: flex;
		align-items: center;
		justify-content: start;
		transition: opacity 0.1s ease, margin-top 0.2s ease-in-out;

		&_1 {
		}

		&_2 {
		}

		&_3 {
		}

		&_4 {
		}

		&_5 {
		}

		&_6 {
		}

		&_7 {
		}

		&_8 {
		}
	}

	&__selected {
		opacity: 1;
		margin-top: 150px;
	}
	
	&__selectable {
		opacity: 0.7;
		font-size: 14px;

		&>.vertical__icon {
			transform: scale(0.8);
			filter: grayscale(80%);
		}

		&:hover {
			opacity: 0.9;

			&>.vertical__icon {
				transform: scale(1);
				filter: grayscale(60%);
			}
			&>.vertical__text {
				font-size: 18px;
			}
		}
	}

	&__icon {
		margin: 15px;
		width: 70px;
		height: 70px;
		background-repeat: no-repeat;
		background-size: 100%;
		transition: transform 0.1s ease-in-out, filter 0.1s ease;

		&_11 {background-image: url("../img/icons/11.jpg");border-radius: 50%;}
		&_12 {background-image: url("../img/icons/12.png");}
		&_21 {background-image: url("../img/icons/no.png");}
		&_22 {background-image: url("../img/icons/no.png");}
		&_31 {background-image: url("../img/icons/no.png");}
		&_32 {background-image: url("../img/icons/32.png");}
		&_33 {background-image: url("../img/icons/33.png");}
		&_34 {background-image: url("../img/icons/34.png");}
		&_35 {background-image: url("../img/icons/no.png");}
		&_36 {background-image: url("../img/icons/36.png");}
		&_37 {background-image: url("../img/icons/37.png");}
		&_38 {background-image: url("../img/icons/38.png");}
		&_39 {}
		&_41 {background-image: url("../img/icons/no.png");}
		&_42 {background-image: url("../img/icons/no.png");}
		&_43 {background-image: url("../img/icons/no.png");}
		&_51 {background-image: url("../img/icons/51.png");}
		&_52 {background-image: url("../img/icons/52.png");}
		&_61 {background-image: url("../img/icons/61.png");}
		&_71 {background-image: url("../img/icons/71.png");}
		&_72 {background-image: url("../img/icons/72.png");}
		&_73 {background-image: url("../img/icons/73.png");}
		&_74 {background-image: url("../img/icons/74.png");}
		&_75 {background-image: url("../img/icons/75.png");}
		&_81 {background-image: url("../img/icons/no.png");}
		&_82 {}
	}

	&__text {
		text-transform: uppercase;
		text-align: left;
		transition: font-size 0.1s ease;
	}

	&__undertext {
		text-transform: none;
	}
}
.inprocess {
	display: flex;
	justify-content: center;
	align-items: center;

	&__loader {
		width: 60%;
		height: 60%;
		border: 10px solid rgba(256, 256, 256, 1);
		border-left: 10px solid rgba(256, 256, 256, 0);
		border-radius: 50%;
		animation: inprocess 1s linear infinite;
	}
}
.typenoclick {
}
.typelink {
}
.typeflip {

	&>.vertical__icon {
		filter: none;
	}
	&:hover {

		&>.vertical__icon {
			filter: none;
		}
	}
}
.flip {
	width: 100%;
	height: 100%;
	position: absolute;
	backface-visibility: hidden;
	border: 3px solid $w;
	border-radius: 30%;

	&__blue {
		background-color: $db;
	}

	&__red {
		background-color: $r;
		transform: rotateY(180deg);
	}
}
.main {
	z-index: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
}
.tapfield {
	position: fixed;
	z-index: 29;
	width: 100vw;
	height: 100vh;
	cursor: pointer;
}
.group {
	z-index: 30;
	position: absolute;
	width: 1200px;
	max-width: 80vw;
	height: 100vh;

	&_1 {}
	&_2 {}
	&_3 {}
	&_4 {}
	&_5 {}
	&_6 {}
	&_7 {}
	&_8 {}
}
.info {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: visible;
	background-color: rgba(0, 0, 0, 0.1);
	margin: 0 auto 0 auto;
	transform: scale(0);
	opacity: 1;

	&__1 {
		&_1 {}
		&_2 {}
		&_3 {}
		&_4 {}
		&_5 {}
		&_6 {}
		&_7 {}
		&_8 {}
	}
	&__2 {
		&_1 {}
		&_2 {}
		&_3 {}
		&_4 {}
		&_5 {}
		&_6 {}
		&_7 {}
		&_8 {}
	}
	&__3 {
		&_1 {}
		&_2 {}
		&_3 {}
		&_4 {}
		&_5 {}
		&_6 {}
		&_7 {}
		&_8 {}
	}
	&__4 {
		&_1 {}
		&_2 {}
		&_3 {}
		&_4 {}
		&_5 {}
		&_6 {}
		&_7 {}
		&_8 {}
	}
	&__5 {
		&_1 {}
		&_2 {}
		&_3 {}
		&_4 {}
		&_5 {}
		&_6 {}
		&_7 {}
		&_8 {}
	}
	&__6 {
		&_1 {}
		&_2 {}
		&_3 {}
		&_4 {}
		&_5 {}
		&_6 {}
		&_7 {}
		&_8 {}
	}
	&__7 {
		&_1 {}
		&_2 {}
		&_3 {}
		&_4 {}
		&_5 {}
		&_6 {}
		&_7 {}
		&_8 {}
	}
	&__8 {
		&_1 {}
		&_2 {}
		&_3 {}
		&_4 {}
		&_5 {}
		&_6 {}
		&_7 {}
		&_8 {}
	}
}


// !@MEDIA ==============================================
// waves Y position: height =============================
@media (max-height: 620px) {
	.wave {
		top: 140px;

		&_rev {
			top: 358px;	  
		}
	}
}

// desktop especials =========================
@media (min-width: 768px) {
	.horizontal {
		left: 30vw;
		top: 30vh;

		&__button {
			width: 200px;
			transition: opacity 0.1s ease;
		}

		&__selected {
			opacity: 1;
		}
	
		&__selectable {
			opacity: 0.7;
	
			&>.horizontal__icon {
				transform: scale(0.8);
				filter: grayscale(80%);
			}
	
			&:hover {
				opacity: 0.9;
	
				&>.horizontal__icon {
					transform: scale(1);
					filter: grayscale(60%);
				}
				&>.horizontal__text {
					transform: scale(1);
				}
			}
		}
	
		&__icon {
			margin: 0 50px 0 50px;
			width: 100px;
			height: 100px;
			background-repeat: none;
			background-size: 100%;
			transition: transform 0.1s ease-in-out, filter 0.1s ease;
	
			&_1 {background-image: url('../img/1.png');}	
			&_2 {background-image: url('../img/2.png');}	
			&_3 {background-image: url('../img/3.png');}	
			&_4 {background-image: url('../img/4.png');}	
			&_5 {background-image: url('../img/5.png');}	
			&_6 {background-image: url('../img/6.png');}	
			&_7 {background-image: url('../img/7.png');}	
			&_8 {background-image: url('../img/8.png');}
		}
	
		&__text {
			margin-top: 10px;
			transition: transform 0.2s ease-in-out;
		}
	}

	.arrow{
		height: 0;
	
		&_left{
	
		}
		&_right{
	
		}
	}

	.allvertical {
		left: 30vw;
		top: 30vh;
	}

	.vertical {
		top: 0;
	}
}

// modile =================================================
@media (max-width: 767px) {

	.horizontal {
		top: 30px;
		
		&__button {
		width: 100vw;
		height: 50px;
		}

		&__text {
			font-size: 24px;
		}
	}
	.vertical {
		top: 0;
		margin-left: 5vw;
		
		&__selected {
			margin-top: 100px;
		}
	}
	.arrow{
		width: 20px;
		height: 50px;
		top: 30px;
		background-color: rgba(255, 255, 255, 0.1);
		font-size: 26px;
	
		&_left{
			width: 0;
			left: 0;
		}
		&_right{
			right: 0;
		}
	}

	.allvertical {
		left: 0;
		top: 0;
	}
}


@keyframes inprocess {
	0% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(360deg)
	}
}