@import "_null.scss";

$db: #40407a;
$r: #b33939;
$w: #f7f1e3;

body {
	background-color: black;
	background: linear-gradient(#000 0%, $r 40%, $r 60%, #000 110%);
	width: 100vw;
	height: 120vh;
	user-select: none;
	font-size: 16px;
	position: fixed;
	overflow: hidden;
}
a, a:visited{
	color: #f7f1e3;
}
.waves {
}
.wave {
	background-image: url("../img/wave.png");
	position: fixed;
	width: 6000px;
	height: 218px;
	top: 400px;
	opacity: 0.07;
	background-repeat: repeat-x;
	transform: scale(2, 1);

	&_1 {
		animation: wave 11s ease-in-out -3s infinite alternate;
	}

	&_2 {
		animation: long-wave 23s ease-in-out 0s infinite alternate;
		transform: scale(3, 1);
	}

	&_3 {
		animation: wave 36s linear -5s infinite alternate;
	}

	&_rev {
		transform: scale(3, -1);
		top: 618px;	  
	}

	&_4 {
		animation: long-wave 16s ease-in-out -7s infinite alternate;
	}

	&_5 {
		animation: wave 27s ease-in-out -2s infinite alternate;
		transform: scale(2, -1);
	}

	&_6 {
		animation: long-wave 41s ease-in-out -11s infinite alternate;
	}
}
@keyframes wave {
	0% {
		left: 0;
	}
	100% {
		left: -3876px;
	}
}
@keyframes long-wave {
	0% {
		left: 0;
	}
	100% {
		left: -5814px;
	}
}

.arrow{
	z-index: 21;
	position: absolute;
	overflow: hidden;

	&_left{
		width: 0;

	}
	&_right{

	}
}
.horizontal {
	z-index: 20;
	position: fixed;
	display: flex;
	align-items: start;
	transition: left 0.2s ease-in-out, top 0.2s, opacity 0.1s;

	&__button {
		-webkit-tap-highlight-color: transparent;
		
		&_1 {
		}

		&_2 {
		}

		&_3 {
		}

		&_4 {
		}

		&_5 {
		}

		&_6 {
		}

		&_7 {
		}

		&_8 {
		}
	}

	&__selectable {

		&>.horizontal__text {
			transform: scale(0);
		}
	}

	&__icon {
	}

	&__title {
		height: 0;
		overflow: hidden;
	}

	&__text {
		text-transform: uppercase;
		font-size: 24px;
		margin-top: 10px;
		transition: transform 0.2s ease-in-out;
		text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffffff;
	}
}
.allvertical {
	position: relative;
	transition: left 0.3s ease, opacity 0.2s;
}
.vertical {
	z-index: 10;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-left: 25px;
	width: 0;
	opacity: 0;
	overflow: hidden;
	transition: opacity 0.5s ease, top 0.2s ease-in-out;

	&_1 {left: 0px;	width: auto; opacity: 1;}
	&_2 {left: 150px;}
	&_3 {left: 300px;}
	&_4 {left: 450px;}
	&_5 {left: 600px;}
	&_6 {left: 750px;}
	&_7 {left: 900px;}
	&_8 {left: 1050px;}

	&__button {
		-webkit-tap-highlight-color: transparent;
		width: 40vw;
		max-width: 500px;
		min-width: 300px;
		display: flex;
		align-items: center;
		justify-content: start;
		transition: opacity 0.1s, margin-top 0.2s ease;

		&_1 {
		}

		&_2 {
		}

		&_3 {
		}

		&_4 {
		}

		&_5 {
		}

		&_6 {
		}

		&_7 {
		}

		&_8 {
		}
	}

	&__selected {
		opacity: 1;
		margin-top: 150px;
	}
	
	&__selectable {
		opacity: 0.7;
		font-size: 14px;

		&>.vertical__icon {
			transform: scale(0.8);
			filter: grayscale(80%);
		}

		&:hover {
			opacity: 0.9;

			&>.vertical__icon {
				transform: scale(1);
				filter: grayscale(60%);
			}
			&>.vertical__text {
				font-size: 18px;
			}
		}
	}

	&__icon {
		margin: 15px;
		width: 70px;
		height: 70px;
		min-width: 70px !important;
		border: 3px solid #f7f1e3;
		border-radius: 30%;
		background-image: url(../img/sprite2.png);
		// background-size: 800%;
		background-repeat: no-repeat;
		transition: transform 0.1s ease;
		display: flex;
		align-items: center;
		justify-content: center;

		&_11 {background-position: -3px -3px;}	//иконки 70х70 + 3px рамка
		&_12 {background-position: -3px -73px;}
		&_21 {background-position: -73px -3px;}
		&_22 {background-position: -73px -3px;}
		&_31 {background-position: -143px -3px;}
		&_32 {background-position: -143px -73px;}
		&_33 {background-position: -73px -73px;}
		&_34 {background-position: -3px -143px;}
		&_35 {background-position: -353px -143px;}
		&_36 {background-position: -423px -143px;}
		&_37 {background-position: -353px -73px;}
		&_38 {background-image: none;}
		&_39 {background-image: none;}
		&_41 {background-position: -213px -3px;}
		&_42 {background-position: -213px -143px;}
		&_43 {background-position: -213px -73px;}
		&_51 {background-position: -283px -3px;}
		&_52 {background-position: -283px -73px;}
		&_61 {background-position: -353px -3px;}
		&_71 {background-position: -423px -3px;}
		&_72 {background-position: -423px -73px;}
		&_73 {background-position: -493px -3px;}
		&_74 {background-position: -493px -73px;}
		&_75 {background-position: -493px -143px;}
		&_81 {background-image: none;}
		&_82 {background-image: none;}
	}

	&__text {
		max-width: 60%;
		text-transform: uppercase;
		text-align: left;
		transition: font-size 0.1s;
	}

	&__undertext {
		text-transform: none; 
	}
}
.internal-text {
	font-size: 40px;
}
.inprocess {
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;

	&__loader {
		width: 60%;
		height: 60%;
		border: 10px solid rgba(256, 256, 256, 1);
		border-left: 10px solid rgba(256, 256, 256, 0);
		border-radius: 50%;
		animation: inprocess 1s linear infinite;
	}
}
.typenoclick {
}
.typelink {
}
.typeflip {
	position: relative;

	&>.vertical__icon {
		border: none;
		perspective: 100px;
		filter: none;
	}
	&:hover {

		&>.vertical__icon {
			filter: none;
		}
	}
}
.flip {
	width: 70px;
	height: 70px;
	position: absolute;
	backface-visibility: hidden;
	border: 3px solid $w;
	border-radius: 30%;
	transition: transform 0.3s ease;


	&__red {
		background-color: $r;
	}

	&__blue {
		background-color: $db;
		transform: rotateY(180deg);
	}
}
.main {
	z-index: 0;
}
.tapfield {
	position: fixed;
	z-index: 29;
	width: 100vw;
	height: 0;
	overflow: hidden;
	cursor: pointer;
}
.group {
	z-index: 30;
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: scale(0);

	&_1 {}
	&_2 {}
	&_3 {}
	&_4 {}
	&_5 {}
	&_6 {}
	&_7 {}
	&_8 {}
}
.close {
	z-index: 50;
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 34px;
	font-family: sans-serif;
	color: #f7f1e3;
	cursor: pointer;

}
.info {
	z-index: 40;
	position: fixed;
	width: 800px;
	max-width: 90vw;
	padding: 50px 20px;
	overflow-x: hidden;
	overflow-y: visible;
	background-color: rgba(0, 0, 0, 0.3);
	transform: scale(0);
	opacity: 0;
	transition: transform 0.3s ease;

	&__1 {
		&_1 {}
		&_2 {}
		&_3 {}
		&_4 {}
		&_5 {}
		&_6 {}
		&_7 {}
		&_8 {}
	}
	&__2 {
		&_1 {}
		&_2 {}
		&_3 {}
		&_4 {}
		&_5 {}
		&_6 {}
		&_7 {}
		&_8 {}
	}
	&__3 {
		&_1 {}
		&_2 {}
		&_3 {}
		&_4 {}
		&_5 {}
		&_6 {}
		&_7 {}
		&_8 {}
	}
	&__4 {
		&_1 {}
		&_2 {}
		&_3 {}
		&_4 {}
		&_5 {}
		&_6 {}
		&_7 {}
		&_8 {}
	}
	&__5 {
		&_1 {}
		&_2 {}
		&_3 {}
		&_4 {}
		&_5 {}
		&_6 {}
		&_7 {}
		&_8 {}
	}
	&__6 {
		&_1 {}
		&_2 {}
		&_3 {}
		&_4 {}
		&_5 {}
		&_6 {}
		&_7 {}
		&_8 {}
	}
	&__7 {
		&_1 {}
		&_2 {}
		&_3 {}
		&_4 {}
		&_5 {}
		&_6 {}
		&_7 {}
		&_8 {}
	}
	&__8 {
		&_1 {}
		&_2 {}
		&_3 {}
		&_4 {}
		&_5 {}
		&_6 {}
		&_7 {}
		&_8 {}
	}
}


// !@MEDIA ==============================================
// waves Y position: height =============================
@media (max-height: 820px) {
	.wave {
		top: 140px;

		&_rev {
			top: 358px;	  
		}
	}
}

// desktop especials =========================
@media (min-width: 768px) {
	.horizontal {
		left: 30vw;
		top: 30vh;

		&__button {
			width: 150px;
			transition: opacity 0.1s;

			&_7 {
				animation: long-pulse 15s infinite;

				&:hover {
					animation: none;
				}
			}
		}

		&__selected {
			opacity: 1;
		}
	
		&__selectable {
			opacity: 0.7;
	
			&>.horizontal__icon {
				transform: scale(0.8);
				filter: grayscale(80%);
			}
	
			&:hover {
				opacity: 0.9;
	
				&>.horizontal__icon {
					transform: scale(1);
					filter: grayscale(60%);
				}
				&>.horizontal__text {
					transform: scale(1);
				}
			}
		}
	
		&__icon {
			margin: 0 25px 0 25px;
			width: 100px;
			height: 100px;
			border: 4px solid #f7f1e3;
			border-radius: 30%;
			background-image: url(../img/sprite1.png);
			background-repeat: no-repeat;
			transition: transform 0.1s;
	
			&_1 {background-position: -4px -3px;}	
			&_2 {background-position: -104px -3px;}	
			&_3 {background-position: -204px -3px;}	
			&_4 {background-position: -304px -3px;}	
			&_5 {background-position: -404px -3px;}	
			&_6 {background-position: -504px -3px;}	
			&_7 {background-position: -604px -3px;}	
			&_8 {background-position: -704px -3px;}
		}
	
		&__text {
			margin-top: 10px;
			transition: transform 0.2s;
		}
	}

	.arrow{
		height: 0;
	
		&_left{
	
		}
		&_right{
	
		}
	}

	.allvertical {
		left: 30vw;
		top: 30vh;
	}

	.vertical {
		top: 0;

		&__text {
			font-size: 20px;
		}
	}

	.info-txt {
		font-size: 20px;
	}
}

// modile =================================================
@media (max-width: 767px) {
	.wave {
		width: 4000px;
	}

	.horizontal {
		color: #ffffff;
		background-color: rgba(0, 0, 0, 0.2);
		top: 30px;
		
		&__button {
		width: 100vw;
		height: 50px;
		}

		&__title {
			font-size: 14px;
			opacity: 0.7;
			height: auto;
			width: 100vw;
			overflow: hidden;
			position: fixed;
			top: 0;
		}

		&__text {
			font-size: 24px;
		}
	}
	.vertical {
		top: 0;
		margin-left: 5vw;
		
		&__selected {
			margin-top: 0;
		}
	}
	.arrow{
		width: 20px;
		height: 50px;
		top: 30px;
		// background-color: rgba(255, 255, 255, 0.1);
		font-size: 26px;
		animation: arrow_pulse 1s ease-in-out infinite alternate;
	
		&_left{
			width: 0;
			left: 0;
		}
		&_right{
			right: 0;
		}
	}

	.allvertical {
		left: 0;
		top: 100px;
	}
}


@keyframes arrow_pulse {
	0% {
		opacity: 0.3
	}
	100% {
		opacity: 1
	}
}

@keyframes inprocess {
	0% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(360deg)
	}
}

@keyframes long-pulse {
	100% {transform: scale(1);filter: grayscale(90%);}
	98% {transform: scale(1.3);filter: grayscale(40%);}
	96% {transform: scale(0.8);filter: grayscale(90%);}
	94% {transform: scale(1.4);filter: grayscale(40%);}
	92% {transform: scale(0.7);filter: grayscale(90%);}
	90% {transform: scale(1.5);filter: grayscale(40%);}
	88% {transform: scale(0.6);filter: grayscale(40%);}
	86% {transform: scale(1.0);filter: grayscale(90%);}
	0% {transform: scale(1.0);filter: grayscale(90%);}
}