.waves
	.wave.wave_1
	.wave.wave_2
	.wave.wave_3
	.wave.wave_4.wave_rev
	.wave.wave_5.wave_rev
	.wave.wave_6.wave_rev
button.arrow.arrow_left << 
button.arrow.arrow_right >>
nav.horizontal
	button.horizontal__button.horizontal__button_1.horizontal__selected
		.horizontal__icon.horizontal__icon_1
		h2.horizontal__text Обо мне
	button.horizontal__button.horizontal__button_2.horizontal__selectable
		.horizontal__icon.horizontal__icon_2
		h2.horizontal__text Мои проекты
	button.horizontal__button.horizontal__button_3.horizontal__selectable
		.horizontal__icon.horizontal__icon_3
		h2.horizontal__text Мои навыки
	button.horizontal__button.horizontal__button_4.horizontal__selectable
		.horizontal__icon.horizontal__icon_4
		h2.horizontal__text Прочтенные книги
	button.horizontal__button.horizontal__button_5.horizontal__selectable
		.horizontal__icon.horizontal__icon_5
		h2.horizontal__text Мое резюме
	button.horizontal__button.horizontal__button_6.horizontal__selectable
		.horizontal__icon.horizontal__icon_6
		h2.horizontal__text Отзывы
	button.horizontal__button.horizontal__button_7.horizontal__selectable
		.horizontal__icon.horizontal__icon_7
		h2.horizontal__text Свяжитесь со мной
	button.horizontal__button.horizontal__button_8.horizontal__selectable
		.horizontal__icon.horizontal__icon_8
		h2.horizontal__text Настройки

.allvertical
	nav.vertical.vertical_1
		button.vertical__button.vertical__button_1.vertical__selected
			.vertical__icon.vertical__icon_11
			h3.vertical__text Павлов Дмитрий
				br
				span.vertical__undertext Frontend junior
		button.vertical__button.vertical__button_2.vertical__selectable
			.vertical__icon.vertical__icon_12
			h3.vertical__text О сайте
				br
				span.vertical__undertext

	nav.vertical.vertical_2
		button.vertical__button.vertical__button_1.vertical__selected
			.vertical__icon.vertical__icon_21
			h3.vertical__text First item
				br
				span.vertical__undertext
		button.vertical__button.vertical__button_2.vertical__selectable
			.vertical__icon.vertical__icon_22
			h3.vertical__text Second item
				br
				span.vertical__undertext

	nav.vertical.vertical_3
		button.vertical__button.vertical__button_1.vertical__selected
			.vertical__icon.vertical__icon_31
			h3.vertical__text Английский язык
				br
				span.vertical__undertext Intermediate
		button.vertical__button.vertical__button_2.vertical__selectable
			.vertical__icon.vertical__icon_32
			h3.vertical__text Html5
				br
				span.vertical__undertext Pug
		button.vertical__button.vertical__button_3.vertical__selectable
			.vertical__icon.vertical__icon_33
			h3.vertical__text Css
				br
				span.vertical__undertext SCSS, Flexbox, Grid
		button.vertical__button.vertical__button_4.vertical__selectable
			.vertical__icon.vertical__icon_34
			h3.vertical__text Javascript
				br
				span.vertical__undertext ES6+, Babel
		button.vertical__button.vertical__button_5.vertical__selectable
			.vertical__icon.vertical__icon_35
			h3.vertical__text Фреймворки
				br
				span.vertical__undertext jQuery, Vue.js
		button.vertical__button.vertical__button_6.vertical__selectable
			.vertical__icon.vertical__icon_36
			h3.vertical__text Photoshop, figma
				br
				span.vertical__undertext
		button.vertical__button.vertical__button_7.vertical__selectable
			.vertical__icon.vertical__icon_37
			h3.vertical__text DX
				br
				span.vertical__undertext Git, Gulp, VSCode, Emmet, DevTool
		button.vertical__button.vertical__button_8.vertical__selectable
			.vertical__icon.vertical__icon_38
			h3.vertical__text Прочее
				br
				span.vertical__undertext PerfectPixel, адаптивность, кроссбраузерность
		button.vertical__button.vertical__button_8.vertical__selectable.typenoclick
			.vertical__icon.vertical__icon_39.inprocess
				.inprocess__loader
			h3.vertical__text PHP
				br
				span.vertical__undertext В процессе...

	nav.vertical.vertical_4
		div.vertical__button.vertical__button_1.vertical__selected.typenoclick
			.vertical__icon.vertical__icon_41
			h3.vertical__text Грокаем Алгоритмы
				br
				span.vertical__undertext Адитья Бхаргава
		div.vertical__button.vertical__button_2.vertical__selectable.typenoclick
			.vertical__icon.vertical__icon_42
			h3.vertical__text JavaScript на примерах
				br
				span.vertical__undertext Никольский А.П.
		div.vertical__button.vertical__button_3.vertical__selectable.typenoclick
			.vertical__icon.vertical__icon_43
			h3.vertical__text Выразительный JavaScript
				br
				span.vertical__undertext Марейн Хавербек

	nav.vertical.vertical_5
		a(href="cv.pdf" download).vertical__button.vertical__button_1.vertical__selected.typelink
			.vertical__icon.vertical__icon_51
			h3.vertical__text Стандартное
				br
				span.vertical__undertext hh.ru
		a(href="#" download).vertical__button.vertical__button_2.vertical__selectable.typelink
			.vertical__icon.vertical__icon_52
			h3.vertical__text Креативное (--мб)
				br
				span.vertical__undertext В процессе

	nav.vertical.vertical_6
		button.vertical__button.vertical__button_1.vertical__selected
			.vertical__icon.vertical__icon_61
			h3.vertical__text Мама
				br
				span.vertical__undertext Мой сын очень хороший мальчик...

	nav.vertical.vertical_7
		a(href="tel:+79961078823").vertical__button.vertical__button_1.vertical__selected.typelink
			.vertical__icon.vertical__icon_71
			h3.vertical__text Phone
				br
				span.vertical__undertext +7(996) 107-88-23
		a(href="https://t.me/dmrompav",target="_blank").vertical__button.vertical__button_2.vertical__selectable.typelink
			.vertical__icon.vertical__icon_72
			h3.vertical__text Telegram
				br
				span.vertical__undertext Предпочитаемый способ связи
		a(href="https://api.whatsapp.com/send?phone=79961078823",target="_blank").vertical__button.vertical__button_3.vertical__selectable.typelink
			.vertical__icon.vertical__icon_73
			h3.vertical__text WhatsApp
				br
				span.vertical__undertext Предпочитаемый способ связи
		a(href="mailto:dm.rom.pav@gmail.com").vertical__button.vertical__button_4.vertical__selectable.typelink
			.vertical__icon.vertical__icon_74
			h3.vertical__text Gmail
				br
				span.vertical__undertext dm.rom.pav@gmail.com
		a(href="https://www.instagram.com/dmrompav/",target="_blank").vertical__button.vertical__button_5.vertical__selectable.typelink
			.vertical__icon.vertical__icon_75
			h3.vertical__text Instagram
				br
				span.vertical__undertext

	nav.vertical.vertical_8
		button.vertical__button.vertical__button_1.vertical__selected
			.vertical__icon.vertical__icon_81
			h3.vertical__text Language
				br
				span.vertical__undertext Russian
		button.vertical__button.vertical__button_2.vertical__selectable.typeflip.colortheme
			.vertical__icon.vertical__icon_82
				.flip.flip__blue
				.flip.flip__red
			h3.vertical__text Цветовая тема
				br
				span.vertical__undertext

main.main
	article.group.group_1
		.tapfield
		section.info.info__1_1
		section.info.info__1_2
	article.group.group_2
		.tapfield
		section.info.info__2_1
		section.info.info__2_2
		section.info.info__2_3
		section.info.info__2_4
		section.info.info__2_5
		section.info.info__2_6
		section.info.info__2_7
		section.info.info__2_8
	article.group.group_3
		.tapfield
		section.info.info__3_1
		section.info.info__3_2
		section.info.info__3_3
		section.info.info__3_4
		section.info.info__3_5
		section.info.info__3_6
		section.info.info__3_7
		section.info.info__3_8
	article.group.group_4
		.tapfield
		section.info.info__4_1
		section.info.info__4_2
		section.info.info__4_3
	article.group.group_5
		.tapfield
		section.info.info__5_1
		section.info.info__5_2
	article.group.group_6
		.tapfield
		section.info.info__6_1
	article.group.group_7
		.tapfield
		section.info.info__7_1
		section.info.info__7_2
		section.info.info__7_3
		section.info.info__7_4
		section.info.info__7_5
	article.group.group_8
		.tapfield
		section.info.info__8_1
		section.info.info__8_2